<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLsFnlx_9g83I64yBTvxvHnglsaMKQeJM</string>
	<key>GCM_SENDER_ID</key>
	<string>985267602729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tripnode.app</string>
	<key>PROJECT_ID</key>
	<string>tripnode-8239d</string>
	<key>STORAGE_BUCKET</key>
	<string>tripnode-8239d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985267602729:ios:9bc1438647bc5043ed2338</string>
</dict>
</plist>